
h1{
  font-family: 'Bad Script', cursive;
  font-size: 6em;
  text-align: center;
  align-self: center;
  min-width: 300px;
  padding: 20px 20px 20px 20px;
  animation-name: change;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes change {
  from {color: white;}
  to {color: black;}
}

@media screen and (prefers-reduced-motion: reduce) {
  h1 {
    animation: none;
  }

}

nav{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

a{
  color: white;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
}

.active{
  text-decoration: underline;
}


.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: center;

}

.gallery{
  height: 300px;
  width: 300px;
  padding: 25px 25px 25px 25px;
  border-radius: 25%;
  filter: grayscale(100%);
  position:relative;
  z-index:1;
}

.gallery:hover{
  filter: grayscale(0%);
  transition: 1.5s ease;
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
}

footer{
  color: black;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.about-img{
  width: 60%;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-height: 500px;
  max-width: 500px;
}

h2.about{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3em;
  text-align: center;
  margin-top: 20px;
  /* following shadow is from https://codepen.io/juanbrujo/pen/yGpAK*/
  color: #2c2c2c;
  letter-spacing: .05em;
  text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0); 
}


p.about{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25em;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
}


fieldset{
  border-radius: 20px;
}

.contact-head{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3em;
  text-align: center;
  margin-top: 20px;
}

.contact{
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  border: 2px solid black;
  text-align: center;
  border-radius: 20px;
}

label{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
}

h3{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
}

input[type=reset], input[type=submit]{
   border: 1px solid black;
   width: 120px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
   margin-top: 10px;
   margin-bottom: 10px;
}

input:focus{
   border: 2px solid black;
   background: #CCCCCC;
}

#venice{
  display: none;
}

*:focus{
  border: 2px solid grey;
}

.img-contact img{
  width: 75px;
  height: 75px;
  padding: 5px 5px 5px 5px;
  border-radius: 25%;
}


.img-contact{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-header{
  font-family: 'Bad Script', cursive;
  font-size: 3em;
  text-align: center;
  align-self: center;
  margin: 20px 20px 20px 20px;
}

h3{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  text-align: center;
  align-self: center;
  margin: 5px 5px 5px 5px;
}

.production{
  display: grid;
  grid-template-columns: 187px 187px;
  grid-template-rows: 40px 350px 200px 350px 40px 200px 200px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;

}

.production > p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25em;
}

#production{
  grid-column: 1 / span 2;
  grid-row: 1;
}

#poster{
  grid-column: 1 / span 2;
  grid-row: 2;
  height: 350px;
  justify-self: center;
  border-radius: 15%;
}

#asap{
  grid-column: 1;
  grid-row: 3;
  height: 187px;
  border-radius: 15%;
}

#rich{
  grid-column: 2;
  grid-row: 3;
  height: 187px;
  border-radius: 15%;
}

#production-text{
  grid-column: 1 / span 2;
  grid-row: 4;
  text-align: center;
}

#uac-head{
  grid-column: 1 / span 2;
  grid-row: 5;
}

#showcase{
  grid-column: 1 / span 2;
  grid-row: 6;
  height: 200px;
  justify-self: center;
  border-radius: 15%;
}

#uac{
  grid-column: 1 / span 2;
  grid-row: 7;
  text-align: center;
}



/*START TABLET VIEW*/
@media screen and (min-width: 480px){

header{
  display: flex;
  justify-content: space-between;
}

h1{
  /*line-height: 150px;*/
  
}

nav{
  min-width: 45%;
  margin-right: 30px;
  margin-top: 10px;

}

.skip a{
  background: white;
  color: black;
  text-decoration: underline;
  font-family: 'Josefin Sans', sans-serif;
  left: 0;
  padding: 6px;
  position: absolute;
  margin: -40px;
  overflow: hidden;
}

.skip a:focus{
  position: absolute;
  margin: 0;
}

#venice{
  display: none;
}

.img-contact img{
  width: 100px;
  height: 100px;
  padding: 15px 15px 15px 15px;
  border-radius: 25%;
}

/*START TABLET/DESKTOP GRID*/


.production{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: .25fr .5fr .5fr .5fr .25fr .5fr .25fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;

}

#production{
  grid-column: 1 / span 2;
  grid-row: 1;
}

#poster{
  grid-column: 1;
  grid-row: 2 / span 3;
  height: 400px;
  border-radius: 15%;
  align-self: stretch;
  justify-content: center;
}

#asap{
  grid-column: 2;
  grid-row: 2;
  height: 200px;
  border-radius: 15%;
  align-self: stretch;
  justify-content: center;
}

#rich{
  grid-column: 2;
  grid-row: 3;
  height: 200px;
  border-radius: 15%;
  align-self: stretch;
  justify-content: center;
}

#production-text{
  grid-column: 1 / span 2;
  grid-row: 4;
  text-align: center;
  align-self: stretch;
}

#uac-head{
  grid-column: 1 / span 2;
  grid-row: 5;

}

#showcase{
  grid-column: 1 / span 2;
  grid-row: 6;
  height: 300px;
  border-radius: 15%;
  align-self: stretch;
  justify-content: center;
}

#uac{
  grid-column: 1 / span 2;
  grid-row: 7;
  text-align: center;
  align-self: stretch;
}

/*Parallax code from https://www.w3schools.com/howto/howto_css_parallax.asp*/
.parallax {
  /* The image used */
  background-image: url('../img/concert.jpg');
  margin-top: 20px;
  /* Set a specific height */
  height: 250px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}


} 




/*START DESKTOP VIEW*/
@media screen and (min-width: 800px){

header{
  display: block;
}

h1{
  text-align: center;

}
nav{
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
}

.skip a{
  background: white;
  color: black;
  text-decoration: underline;
  font-family: 'Josefin Sans', sans-serif;
  left: 0;
  padding: 6px;
  position: absolute;
  margin: -40px;
  overflow: hidden;
}

.skip a:focus{
  position: absolute;
  margin: 0;

}

#venice{
  display: block;
}

/*Flip Card code from https://www.w3schools.com/howto/howto_css_flip_card.asp*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-container{
  display: block;
  height: 500px;
}

.flip-card {
  background-color: transparent;
  width: 150;
  height: 150;
}


/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card:focus .flip-card-back{
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

.img-contact img{
  width: 200px;
  height: 200px;
  padding: 25px 25px 25px 25px;
  border-radius: 25%;
}

/*START DESKTOP GRID*/


.production{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .5fr 1fr 1fr .5fr 2fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;

}

.production > p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25em;
}

#production{
  grid-column: 1 / span 4;
  grid-row: 1;
}

#poster{
  grid-column: 1;
  grid-row: 2 / span 3;
  height: 400px;
  border-radius: 15%;
  align-self: stretch;
}

#asap{
  grid-column: 2;
  grid-row: 2;
  height: 200px;
  border-radius: 15%;
  align-self: stretch;
}

#rich{
  grid-column: 2;
  grid-row: 3;
  height: 200px;
  border-radius: 15%;
  align-self: stretch;
}

#production-text{
  grid-column: 3 / span 4;
  grid-row: 2 / span 3;
  text-align: center;
  align-self: stretch;
}

#uac-head{
  grid-column: 1 / span 4;
  grid-row: 4;

}

#showcase{
  grid-column: 3 / span 4;
  grid-row: 5;
  height: 300px;
  border-radius: 15%;
  align-self: stretch;
}

#uac{
  grid-column: 1 / span 2;
  grid-row: 5;
  text-align: center;
  align-self: stretch;
}


} 
